body {
    background-color: #FFCC99 ;
}
h1 {
    color: red;
}
#flex {
    display: flex;
    flex-direction: row;
}
nav {
    background-color: #ececec ;
}
main {
    background-color: #ffffff;
}
h2 {
    color: blue;
}